/* You can add global styles to this file, and also import other style files */
*{
   font-family:    "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #201c1c;
  /* color: #4c00ff */
}
 
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}